<div class="auth-container" id="bg-image">

    <div class="form-container">
        <div class="col col-1">
            <div class="border-image"><img src="../../../assets/img/boosterhub-logo.png" class="form-image"></div>
            <p class="welcome-text">Welcome to <span>BoosterHub</span>!</p>
        </div>
        <div class="col col-2">

            <!-- login form container -->
            <div *ngIf="isLogin">
                <div class="btn-box">
                    <button class="btn btn-1" (click)="loginView()">Sign In</button>
                    <button class="btn btn-2" (click)="registerView()">Sign Up</button>
                </div>

                <app-login></app-login>

                <div class="forgot-password-block">
                    <div class="forgot-password">
                        <span (click)="forgotPasswordView()">Forgot your Password?</span>
                    </div>
                </div>
            </div>

            <!-- register form container -->
            <div *ngIf="isRegister">
                <div class="btn-box">
                    <button class="btn btn-2" (click)="loginView()">Sign In</button>
                    <button class="btn btn-1" (click)="registerView()">Sign Up</button>
                </div>

                <app-register></app-register>
            </div>

            <!-- forgot-password form container -->
            <div *ngIf="isForgotPassword">
                <div class="btn-box">
                    <button class="btn btn-2" (click)="loginView()">Sign In</button>
                    <button class="btn btn-2" (click)="registerView()">Sign Up</button>
                </div>

                <app-forgot-password></app-forgot-password>
            </div>
        </div>
    </div>

</div>