<div class="form-template">
    <div class="form-title">
        <span>Recover your<br>Password</span>
    </div>
    <div class="form-inputs">
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" required>
            <i class="bx bx-envelope icon"></i>
        </div>
        <div class="input-box">
            <button class="input-submit">
                <span>Send Recovery Mail</span>
                <i class="bx bx-right-arrow-alt"></i>
            </button>
        </div>
    </div>
</div>