<div class="form-template">
    <div class="form-title">
        <span>Register</span>
    </div>
    <div class="form-inputs">
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Character" required>
            <i class="bx bx-user icon"></i>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Realm" required>
            <i class="bx bx-landscape icon"></i>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" required>
            <i class="bx bx-envelope icon"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" required>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="input-box">
            <button class="input-submit">
                <span>Register</span>
                <i class="bx bx-right-arrow-alt"></i>
            </button>
        </div>
    </div>
</div>