.main-block {
    position: relative;
    height: fit-content;
}

.head-block {
    margin: auto;
    width: 97%;
    margin-top: 2%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #F59A7B;
    text-align: center;
}

#ch-name {
    padding-top: 40px;
    color: #21264D;
    font-size: 48px;
    font-weight: 500;
}

#ch-realm {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #21264D;
    font-size: 30px;
    font-weight: 500;
}

.body-block {
    margin: 0 auto;
    width: 98%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
}

.card-block {
    border: #F59A7B 3px solid;
    border-radius: 30px;
    box-shadow: none;
    background-color: transparent;
    width: 300px;
    height: 240px;
    text-align: center;
    color: #21264D;
    margin: 2%;
    display: flex;
    justify-content: center;
}

.card-block img {
    width: 160px;
    height: 160px;
}

.card-head {
    font-size: 30px;
    margin-bottom: 40px;
}

.card-title {
    font-size: 30px;
}

.head-title {
    color: #F77E65;
    font-size: 50px;
}

@media (max-width: 600px) {
    .body-block {
        grid-template-columns: 1fr;
    }
}