<app-loader *ngIf="!loader"></app-loader>

<div class="main-block" *ngIf="loader">

    <div class="head-block">
        <p id="ch-name">{{character?.character_name}}</p>
        <p id="ch-realm">{{character?.character_realm}}</p>

        <div class="raiderio">
            <a href={{raiderIoLink}} target="_blank">
                <img id="rio-image" src="../../../../assets/img/raiderio.png" title="{{character?.character_name}}-{{character?.character_realm}}'s Raider.IO profile">
            </a>
        </div>
    </div>

    <div class="button-block">
        <button mat-stroked-button class="strike-button" (click)="newStrike()">
            <mat-icon>sentiment_very_dissatisfied</mat-icon> Strike user
        </button>

        <button mat-stroked-button *ngIf="this.uid == this.utilsService.getUserUid()" class="update-button" (click)="updateUser(character?.character_name, character?.character_realm)">
            <mat-icon>autorenew</mat-icon> Update profile
        </button>
    </div>

    <div class="body-block">
        <mat-card *ngFor="let c of cards" class="card-block">
            <mat-card-content>
                <img mat-card-sm-image src={{c.image}} *ngIf="c.image != null">
                <mat-card-title class="card-head" *ngIf="c.head != null">{{c.head}}</mat-card-title>
                <mat-card-title [ngClass]="(c.head!=null)?'head-title':'card-title'">{{c.title}}</mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

</div>