.button-block {
    position: relative;
    height: fit-content;
    width: 86%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    justify-content: flex-end;
}

.head-button {
    background-color: #21264D;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (max-width: 599px) {
    .button-block {
        margin-top: 10px;
    }

    .head-button {
        width: 92px;
        height: 30px;
        font-size: 12px;
    }
}