<app-menu-buttons [buttons]="buttons" [view]="view" (getViewEvent)="changeView($event)"></app-menu-buttons>

<app-loader *ngIf="!loader"></app-loader>

<div [ngSwitch]="view" *ngIf="loader">
    
    <p *ngSwitchCase="'general'">test {{view}}</p>

    <div *ngSwitchCase="'mythic'">
        <div class="button-block">
            <button mat-stroked-button class="head-button" (click)="newMythic()">New M+</button>
        </div>
        <app-mythic-list [mythics]="mythics"></app-mythic-list>
    </div>

    <div *ngSwitchCase="'raid'">
        <div class="button-block">
            <button mat-stroked-button class="head-button" (click)="newRaid()">New Raid</button>
        </div>
        <app-raid-list [raids]="raids"></app-raid-list>
    </div>

    <div *ngSwitchCase="'legacy'">
        <div class="button-block">
            <button mat-stroked-button class="head-button" (click)="newLegacy()">New LR</button>
        </div>
        <app-legacy-list [legacies]="legacies"></app-legacy-list>
    </div>

    <div *ngSwitchCase="'leveling'">
        <div class="button-block">
            <button mat-stroked-button class="head-button">New Lvl</button>
        </div>
        <p>test {{view}}</p>
    </div>

</div>