<div class="main-content">
    <div id="bg-blur">
        <div id="main-block">
            <div class="text-block">
                <div class="main-text-block">
                    <p class="main-text">BoosterHub's administrators are still deciding if you are worthy of joining our community...</p>
                    <p class="main-text">Keep on your character progress until then!</p>
                </div>
                <p class="big-text">GLHF</p>
                <button mat-stroked-button class="signOut-button" (click)="signOut()">
                    <mat-icon id="button-text">logout</mat-icon><div id="button-text">Log Out</div>
                </button>
            </div>
        </div>
    </div>
</div>