<div class="body-block">
    <mat-card class="main-card">
        <mat-card-content>
            <app-booster-main-chart *ngIf="view == 'booster'" [mythicEarnings]="mythicEarnings" [raidEarnings]="raidEarnings"
                [legacyEarnings]="legacyEarnings" [levelingEarnings]="levelingEarnings" [strikeTotalPenalty]="strikeTotalPenalty">
            </app-booster-main-chart>
        </mat-card-content>

        <mat-card-content>
            <app-booster-main-chart *ngIf="view == 'adviser'" [mythicEarnings]="mythicEarnings" [raidEarnings]="raidEarnings"
                [legacyEarnings]="legacyEarnings" [levelingEarnings]="levelingEarnings">
            </app-booster-main-chart>
        </mat-card-content>
    </mat-card>

    <div class="other-charts">

    </div>
</div>