<div class="body-block">
    <mat-card class="main-card">
        <mat-card-content>
            <div class="space-block">
                <mat-card-title class="total-head">Earnings:</mat-card-title>
                <mat-card-title class="total-head" *ngIf="totalEarnings == 0">{{totalEarnings}}g</mat-card-title>
                <mat-card-title class="total-head" *ngIf="totalEarnings > 0" id="earnings-qty">{{totalEarnings}}g</mat-card-title>
                <mat-card-title class="total-head" *ngIf="totalEarnings < 0" id="penalty-qty">{{totalEarnings}}g</mat-card-title>
            </div>

            <app-booster-main-chart *ngIf="view == 'booster'" [mythicEarnings]="mythicEarnings" [raidEarnings]="raidEarnings"
                [legacyEarnings]="legacyEarnings" [levelingEarnings]="levelingEarnings" [strikeTotalPenalty]="strikeTotalPenalty">
            </app-booster-main-chart>
        </mat-card-content>

        <mat-card-content>
            <app-booster-main-chart *ngIf="view == 'adviser'" [mythicEarnings]="mythicEarnings" [raidEarnings]="raidEarnings"
                [legacyEarnings]="legacyEarnings" [levelingEarnings]="levelingEarnings">
            </app-booster-main-chart>
        </mat-card-content>
    </mat-card>

    <div class="other-charts">
        <mat-card class="sub-card">
            <mat-card-content>
                <p>prueba</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="sub-card">
            <mat-card-content>
                <p>prueba</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>