<div class="modal-block">
    <h1 mat-dialog-title>New Mythic+</h1>

    <mat-dialog-content>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
        <p>messi</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button id="cancel-button" mat-dialog-close>Cancel</button>
        <button mat-button id="create-button" [mat-dialog-close]="true" cdkFocusInitial>Create</button>
      </mat-dialog-actions>
</div>