<mat-toolbar class="header">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="header-title">{{title}}</span>
</mat-toolbar>

<mat-drawer-container class="sidenav" autosize>
    <mat-drawer #drawer opened="true" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button><mat-icon>person</mat-icon>Profile</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="main-content">

        <div id="bg-blur">
            <p>hay que arreglar el height del blur y seguir con el sidenav...</p>
        </div>

    </mat-drawer-content>

</mat-drawer-container>