.header {
    background-color: #F77E65;
}

.logo {background-color: #F59A7B;
    width: 45px;
    border: solid #F59A7B 3px;
    border-radius: 100%;
}

.header-title {
    color: #21264D;
    margin-left: 10px;
    font-size: 28px;
    cursor: default;
}

.sidenav {
    background-color: #F59A7B;
    border-top: black 1px ;
}

.nav-button {
    font-size: 18px;
    color: #21264D;
}

#ghost-item{
    visibility: hidden;
}

#logout {
    background-color: #F77E65;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

mat-drawer-container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 64px;
}

.main-content {
    background-size: cover;
    background-image: url("../../../assets/img/login-background.jpg");
    overflow-x: hidden;
}

.main-content::-webkit-scrollbar {
    width: 8px;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

.main-content::-webkit-scrollbar-thumb {
    background: #EC5044;
    border-radius: 10px;
}

#bg-blur{
    padding-top: 0.88%;
    background-size: cover;
    background: rgba(255, 255, 255, 0.5);
    min-height: 100%;
    padding-bottom: 1%;
}

#main-block {
    margin: auto;
    width: 98%;
    height: fit-content;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.784);
    border: 3px solid #F77E65;
    border-radius: 20px;
}

@media (max-width: 599px) {

    .logo {
        width: 40px;
    }

    mat-drawer-container {
        top: 56px;
    }

    .main-content::-webkit-scrollbar {
        width: 0;
    }

    #bg-blur {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #main-block {
        min-height: 92vh;
        width: 96%;
    }
}