.search-block {
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 40px;
    align-items: center;
}

.searchbar {
    margin: auto;
    width: 90%;
    color: #21264D;
}

.body-block {
    margin: auto;
    width: 92%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    place-items: center;
}

.card-block {
    border: #F59A7B 3px solid;
    border-radius: 30px;
    box-shadow: none;
    background-color: transparent;
    min-width: 240px;
    width: 90%;
    height: 120px;
    color: #21264D;
    margin: 2%;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.card-image {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    width: 60px;
}

@media (max-width: 599px) {
    .body-block {
        margin-top: 10px;
    }
}