<app-menu-buttons [buttons]="buttons" [view]="view" (getViewEvent)="changeView($event)"></app-menu-buttons>

<app-loader *ngIf="!loader"></app-loader>

<div [ngSwitch]="view" *ngIf="loader">

    <app-user-list  *ngSwitchCase="'user'" [users]="users" [onHoldUsers]="onHoldUsers"></app-user-list>

    <app-mythic-list *ngSwitchCase="'mythic'" [mythics]="mythics"></app-mythic-list>

    <app-raid-list *ngSwitchCase="'raid'" [raids]="raids"></app-raid-list>

    <app-legacy-list *ngSwitchCase="'legacy'" [legacies]="legacies"></app-legacy-list>

    <app-leveling-list *ngSwitchCase="'leveling'" [levelings]="levelings"></app-leveling-list>

    <app-strike-list *ngSwitchCase="'strike'" [strikes]="strikes" [isAdmin]="true"></app-strike-list>
    
</div>