<app-loader *ngIf="!loader"></app-loader>

<div class="main-block" *ngIf="loader">

    <div class="head-block">
        <p id="service-name">{{legacy?.raid_name}}</p>

        <div class="warcraftlogs" *ngIf="legacy?.logs_link != null && legacy?.logs_link != ''">
            <a href={{legacy?.logs_link}} target="_blank">
                <img id="wl-image" src="../../../../assets/img/warcraftlogs.png" title="Service's WarcraftLogs">
            </a>
        </div>
    </div>

    <div class="button-block" *ngIf="this.legacy?.status == 'created' && this.legacy?.adviser_id == this.utilsService.getUserUid()">
        <button mat-stroked-button class="update-button" (click)="completeLegacy(legacy)">
            <mat-icon>add_task</mat-icon> Complete LR
        </button>
    </div>

    <div class="body-block">

            <mat-card class="left-card">
                <mat-card-content id="content-separator">
                    <mat-card-title class="group-head">Adviser:</mat-card-title>
                    <div class="member-block" [routerLink]="'../../profile/' + adviser?.uid">
                        <mat-icon class="adviser-icon">assignment_ind</mat-icon>
                        <mat-card-title class="character-name">{{adviser?.character_name}}-{{adviser?.character_realm}}</mat-card-title>
                    </div>
                </mat-card-content>

                <mat-card-content>
                    <mat-card-title class="group-head">Group:</mat-card-title>
                    <div class="member-block" *ngFor="let m of members" [routerLink]="'../../profile/' + m.uid">
                        <img mat-card-sm-image class="character-image" src={{m.image}}>
                        <mat-card-title class="character-name">{{m.name}}</mat-card-title>
                    </div>
                </mat-card-content>
            </mat-card>

            
            <mat-card class="right-card">

                <mat-card-content id="content-separator">
                    <div class="space-block">
                        <mat-card-title class="group-head">Status:</mat-card-title>
                        <mat-card-title class="group-head" id="created" *ngIf="legacy?.status == 'created'">On due</mat-card-title>
                        <mat-card-title class="group-head" id="completed" *ngIf="legacy?.status == 'completed'">Completed</mat-card-title>
                        <mat-card-title class="group-head" id="depleted" *ngIf="legacy?.status == 'depleted'">Depleted</mat-card-title>
                        <mat-card-title class="group-head" id="issues" *ngIf="legacy?.status == 'issues'">With issues</mat-card-title>
                    </div>
                </mat-card-content>

                <mat-card-content id="content-separator">
                    <div class="space-block">
                        <mat-card-title class="group-head">Price:</mat-card-title>
                        <mat-card-title class="group-head" id="price-qty">{{legacy?.price}}g</mat-card-title>
                    </div>
                    <div class="space-block">
                        <mat-card-subtitle class="group-subhead">
                            <mat-icon class="price-icon">chevron_right</mat-icon>Booster cut:
                        </mat-card-subtitle>
                        <mat-card-title class="group-subhead" id="price-qty">{{booster_cut}}g</mat-card-title>
                    </div>
                    <div class="space-block">
                        <mat-card-subtitle class="group-subhead">
                            <mat-icon class="price-icon">chevron_right</mat-icon>Adviser cut:
                        </mat-card-subtitle>
                        <mat-card-title class="group-subhead" id="price-qty">{{adviser_cut}}g</mat-card-title>
                    </div>
                </mat-card-content>
                
                <mat-card-content id="content-separator">
                    <mat-card-title class="group-head">Description:</mat-card-title>
                    <div class="text-block">
                        <p>{{legacy?.description}}</p>
                    </div>
                </mat-card-content>
                
                <mat-card-content id="content-separator" *ngIf="legacy?.feedback != null">
                    <mat-card-title class="group-head">Adviser Feedback:</mat-card-title>
                    <div class="text-block">
                        <p>{{legacy?.feedback}}</p>
                    </div>
                </mat-card-content>

            </mat-card>

        </div>


</div>